@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg text-textMain antialiased;
    font-family: theme('fontFamily.body');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: theme('fontFamily.display');
    letter-spacing: -0.02em;
  }
}